n8n-node-get-tickets.json
{
  "meta": {
    "instanceId": "omnidesk-tickets-loader"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://pimpay.omnidesk.ru/api/cases.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "sort",
              "value": "created_at"
            },
            {
              "name": "order",
              "value": "desc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-Language",
              "value": "ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "omnidesk-get-cases",
      "name": "OmniDesk - Get Cases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpBasicAuth": {
          "id": "CREATE_NEW",
          "name": "OmniDesk API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// OmniDesk возвращает объект: {\"0\": {\"case\": {...}}, \"1\": {\"case\": {...}}, ...}\nconst response = $input.first().json;\n\n// Проверяем на Cloudflare challenge\nif (typeof response === 'string' && response.includes('challenge')) {\n  throw new Error('Cloudflare challenge detected. Need to whitelist IP or use different approach.');\n}\n\n// Дата отсечки - 7 дней назад\nconst cutoffDate = new Date();\ncutoffDate.setDate(cutoffDate.getDate() - 7);\n\n// Конвертируем объект с числовыми ключами в массив\nconst tickets = [];\nconst keys = Object.keys(response).filter(k => !isNaN(parseInt(k)));\n\nconsole.log(`Found ${keys.length} cases in response`);\n\nfor (const key of keys) {\n  const caseData = response[key].case || response[key];\n  \n  // Парсим дату создания\n  let createdAt;\n  try {\n    createdAt = new Date(caseData.created_at);\n  } catch (e) {\n    console.log(`Cannot parse date for case ${caseData.case_id}`);\n    continue;\n  }\n  \n  // Фильтруем по дате (только за последние 7 дней)\n  if (createdAt >= cutoffDate) {\n    tickets.push({\n      ticket_id: caseData.case_id,\n      case_number: caseData.case_number,\n      created_at: caseData.created_at,\n      closed_at: caseData.closed_at !== '-' ? caseData.closed_at : null,\n      updated_at: caseData.updated_at,\n      status: caseData.status,\n      priority: caseData.priority,\n      channel: caseData.channel,\n      subject: caseData.subject,\n      user_id: caseData.user_id,\n      staff_id: caseData.staff_id,\n      group_id: caseData.group_id,\n      labels: caseData.labels || [],\n      closing_speed: caseData.closing_speed !== '-' ? parseInt(caseData.closing_speed) : null\n    });\n  }\n}\n\nconsole.log(`Filtered to ${tickets.length} tickets from last 7 days`);\n\n// Возвращаем каждый тикет как отдельный item\nreturn tickets.map(ticket => ({ json: ticket }));"
      },
      "id": "parse-response",
      "name": "Parse OmniDesk Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "OmniDesk - Get Cases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OmniDesk - Get Cases": {
      "main": [
        [
          {
            "node": "Parse OmniDesk Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OmniDesk Response": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
