n8n-workflow-export.json
{
  "name": "Weekly Support Tickets Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": ["monday"],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Получаем даты за прошлую неделю\nconst now = new Date();\nconst weekAgo = new Date();\nweekAgo.setDate(now.getDate() - 7);\n\nconst formatDate = (d) => d.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    week_start: formatDate(weekAgo),\n    week_end: formatDate(now),\n    cutoff_timestamp: weekAgo.toISOString(),\n    page: 1,\n    allTickets: []\n  }\n}];"
      },
      "id": "set-date-range",
      "name": "Set Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://pimpay.omnidesk.ru/api/cases.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "limit", "value": "100"},
            {"name": "page", "value": "={{ $json.page }}"},
            {"name": "sort", "value": "created_at"},
            {"name": "order", "value": "desc"}
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      },
      "id": "omnidesk-get-cases",
      "name": "OmniDesk - Get Cases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 0],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "OmniDesk API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// OmniDesk возвращает: {\"0\": {\"case\": {...}}, \"1\": {...}}\nconst response = $input.first().json;\nconst prevData = $('Set Date Range').first().json;\nconst cutoffDate = new Date(prevData.cutoff_timestamp);\nconst allTickets = prevData.allTickets || [];\n\n// Конвертируем в массив\nconst keys = Object.keys(response).filter(k => !isNaN(parseInt(k)));\n\nlet hasOlderTickets = false;\nlet newTicketsCount = 0;\n\nfor (const key of keys) {\n  const caseData = response[key].case || response[key];\n  const createdAt = new Date(caseData.created_at);\n\n  if (createdAt >= cutoffDate) {\n    allTickets.push({\n      ticket_id: caseData.case_id,\n      created_at: caseData.created_at,\n      closed_at: caseData.closed_at !== '-' ? caseData.closed_at : null,\n      status: caseData.status,\n      priority: caseData.priority,\n      channel: caseData.channel,\n      subject: caseData.subject,\n      labels: caseData.labels || [],\n      closing_speed: caseData.closing_speed !== '-' ? parseInt(caseData.closing_speed) : null\n    });\n    newTicketsCount++;\n  } else {\n    hasOlderTickets = true;\n  }\n}\n\n// Определяем нужна ли следующая страница\nconst needNextPage = keys.length === 100 && !hasOlderTickets && prevData.page < 50;\n\nreturn [{\n  json: {\n    ...prevData,\n    allTickets: allTickets,\n    page: prevData.page + 1,\n    needNextPage: needNextPage,\n    currentPageTickets: newTicketsCount,\n    totalCollected: allTickets.length\n  }\n}];"
      },
      "id": "parse-cases-response",
      "name": "Parse Cases Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needNextPage }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-need-next-page",
      "name": "Need Next Page?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [880, 0]
    },
    {
      "parameters": {
        "amount": 300,
        "unit": "milliseconds"
      },
      "id": "wait-pagination",
      "name": "Wait (Pagination)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "jsCode": "// Подготовка тикетов для Loop\nconst data = $input.first().json;\nconst tickets = data.allTickets;\n\nconsole.log(`Total tickets to process: ${tickets.length}`);\n\nreturn tickets.map(ticket => ({ json: ticket }));"
      },
      "id": "prepare-for-loop",
      "name": "Prepare Tickets for Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-tickets",
      "name": "Loop Through Tickets",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1320, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://pimpay.omnidesk.ru/api/cases/{{ $json.ticket_id }}/messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "timeout": 15000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      },
      "id": "omnidesk-get-messages",
      "name": "OmniDesk - Get Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1540, 100],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "OmniDesk API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ticket = $('Loop Through Tickets').first().json;\nconst messagesResponse = $input.first().json;\n\nlet firstMessageText = null;\n\ntry {\n  const keys = Object.keys(messagesResponse).filter(k => !isNaN(parseInt(k)));\n\n  if (keys.length > 0) {\n    const messages = keys\n      .map(k => messagesResponse[k].message || messagesResponse[k])\n      .sort((a, b) => new Date(a.created_at) - new Date(b.created_at));\n\n    const firstMsg = messages[0];\n    firstMessageText = firstMsg.content || firstMsg.content_text || firstMsg.text || null;\n  }\n} catch (e) {\n  console.log('Error parsing messages:', e.message);\n}\n\nconst parseDate = (dateStr) => {\n  if (!dateStr || dateStr === '-') return null;\n  try {\n    return new Date(dateStr).toISOString();\n  } catch {\n    return null;\n  }\n};\n\nreturn [{\n  json: {\n    ticket_id: ticket.ticket_id,\n    created_at: parseDate(ticket.created_at),\n    closed_at: parseDate(ticket.closed_at),\n    status: ticket.status,\n    priority: ticket.priority,\n    channel: ticket.channel,\n    subject: ticket.subject,\n    first_message_text: firstMessageText,\n    labels: ticket.labels && ticket.labels.length > 0 ? ticket.labels : null,\n    closing_speed: ticket.closing_speed\n  }\n}];"
      },
      "id": "extract-first-message",
      "name": "Extract First Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 100]
    },
    {
      "parameters": {
        "amount": 300,
        "unit": "milliseconds"
      },
      "id": "wait-rate-limit",
      "name": "Wait (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1980, 100]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "support_tickets",
        "conflictType": "columnValue",
        "columnToMatchOn": "ticket_id",
        "dataToSend": "autoMapInputData"
      },
      "id": "supabase-upsert",
      "name": "Supabase - Upsert Tickets",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2200, 100],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase MetaShip"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "support_tickets",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=created_at.gte.{{ $now.minus({days: 7}).toISO() }}"
      },
      "id": "supabase-get-weekly",
      "name": "Supabase - Get Weekly Tickets",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2640, 100],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase MetaShip"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tickets = $input.all().map(item => item.json);\n\nconst now = new Date();\nconst weekAgo = new Date();\nweekAgo.setDate(now.getDate() - 7);\n\nconst inputData = {\n  week_start_date: weekAgo.toISOString().split('T')[0],\n  week_end_date: now.toISOString().split('T')[0],\n  tickets: tickets.map(t => ({\n    ticket_id: String(t.ticket_id),\n    created_at: t.created_at,\n    closed_at: t.closed_at,\n    status: t.status,\n    priority: t.priority,\n    channel: t.channel,\n    subject: t.subject,\n    first_message_text: t.first_message_text,\n    labels: t.labels,\n    closing_speed: t.closing_speed\n  }))\n};\n\nreturn [{\n  json: {\n    ticketCount: tickets.length,\n    inputJson: JSON.stringify(inputData, null, 2)\n  }\n}];"
      },
      "id": "prepare-ai-input",
      "name": "Prepare AI Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 100]
    },
    {
      "parameters": {
        "jsCode": "const inputJson = $input.first().json.inputJson;\n\nconst systemPrompt = `You are \"Weekly Support Insights Analyst\" for MetaShip.\n\nYou analyze ONLY the provided support tickets for a single week and produce:\n1) Executive summary\n2) Top 3 risks with evidence\n3) Issue clusters by problem types\n4) Top clients by ticket volume\n5) Product and operational recommendations\n\nHARD RULES:\n1) No hallucinations. Only use data from input.\n2) Every risk/insight MUST cite ticket_ids (at least 3 for medium+ severity).\n3) Redact PII: phone/email as \"[REDACTED]\".\n4) Output ONLY valid JSON, no markdown.\n5) Set all delta fields to \"insufficient_data\".\n\nCLUSTER KEYS: delivery_point_not_found, order_creation_validation_errors, api_integration_questions, status_sync_issues, bitrix_module_issues, tariff_calculation_errors\n\nSEVERITY: critical > high > medium > low\n\nOUTPUT JSON:\n{\n  \"report_metadata\": {\"week_start_date\": \"...\", \"week_end_date\": \"...\", \"total_tickets_analyzed\": N},\n  \"executive_summary\": {\"one_liner\": \"...\", \"key_stats\": {...}, \"top_issues\": [...]},\n  \"top_3_risks\": [{\"title\": \"...\", \"severity\": \"...\", \"evidence_ticket_ids\": [...]}],\n  \"insights\": [{\"metric_key\": \"...\", \"title\": \"...\", \"ticket_count\": N, \"evidence_ticket_ids\": [...]}],\n  \"top_clients_analysis\": {\"clients\": [{\"client_name\": \"...\", \"ticket_count\": N}]},\n  \"limitations\": [...]\n}\n\nRespond with ONLY the JSON.`;\n\nreturn [{\n  json: {\n    systemPrompt: systemPrompt,\n    inputJson: inputJson\n  }\n}];"
      },
      "id": "build-ai-prompt",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 100]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.systemPrompt }}"
            },
            {
              "role": "user",
              "content": "=Analyze these tickets:\n\n{{ $json.inputJson }}"
            }
          ]
        },
        "options": {
          "maxTokens": 8000,
          "temperature": 0.3
        }
      },
      "id": "openai-analysis",
      "name": "OpenAI - Analyze Tickets",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [3300, 100],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nlet content = response.message?.content || response.choices?.[0]?.message?.content || '';\n\nlet report;\ntry {\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  report = JSON.parse(content);\n} catch (e) {\n  return [{\n    json: {\n      error: 'Failed to parse AI response',\n      raw_content: content.substring(0, 500)\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    report: report,\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, 100]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst report = data.report;\n\nif (data.error) {\n  return [{\n    json: {\n      telegram_message: `❌ *Error generating report*\\n\\n${data.error}`,\n      full_report: null\n    }\n  }];\n}\n\nconst meta = report.report_metadata || {};\nconst summary = report.executive_summary || {};\nconst risks = report.top_3_risks || [];\nconst clients = report.top_clients_analysis?.clients || [];\n\nlet message = `📊 *Weekly Support Report*\n📅 ${meta.week_start_date} — ${meta.week_end_date}\n\n*Summary:* ${summary.one_liner || 'N/A'}\n\n📈 *Key Stats:*\n• Total tickets: ${summary.key_stats?.total_tickets || meta.total_tickets_analyzed || 'N/A'}\n• Closed: ${summary.key_stats?.closed_tickets || 'N/A'}\n• Avg resolution: ${summary.key_stats?.avg_closing_speed_minutes || 'N/A'} min\n\n🚨 *Top 3 Risks:*\n`;\n\nrisks.forEach((risk, i) => {\n  const emoji = risk.severity === 'critical' ? '🔴' : risk.severity === 'high' ? '🟠' : '🟡';\n  message += `${i+1}. ${emoji} *${risk.title}* (${risk.severity})\\n`;\n});\n\nmessage += `\\n👥 *Top Clients:*\\n`;\nclients.slice(0, 5).forEach((c, i) => {\n  message += `${i+1}. ${c.client_name}: ${c.ticket_count} tickets\\n`;\n});\n\nmessage += `\\n📋 *Top Issues:*\\n`;\n(summary.top_issues || []).slice(0, 5).forEach((issue) => {\n  message += `• ${issue}\\n`;\n});\n\nreturn [{\n  json: {\n    telegram_message: message,\n    full_report: report\n  }\n}];"
      },
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3740, 100]
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_CHAT_ID",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Telegram - Send Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [3960, 100],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{"node": "Set Date Range", "type": "main", "index": 0}]
      ]
    },
    "Set Date Range": {
      "main": [
        [{"node": "OmniDesk - Get Cases", "type": "main", "index": 0}]
      ]
    },
    "OmniDesk - Get Cases": {
      "main": [
        [{"node": "Parse Cases Response", "type": "main", "index": 0}]
      ]
    },
    "Parse Cases Response": {
      "main": [
        [{"node": "Need Next Page?", "type": "main", "index": 0}]
      ]
    },
    "Need Next Page?": {
      "main": [
        [{"node": "Wait (Pagination)", "type": "main", "index": 0}],
        [{"node": "Prepare Tickets for Loop", "type": "main", "index": 0}]
      ]
    },
    "Wait (Pagination)": {
      "main": [
        [{"node": "OmniDesk - Get Cases", "type": "main", "index": 0}]
      ]
    },
    "Prepare Tickets for Loop": {
      "main": [
        [{"node": "Loop Through Tickets", "type": "main", "index": 0}]
      ]
    },
    "Loop Through Tickets": {
      "main": [
        [{"node": "OmniDesk - Get Messages", "type": "main", "index": 0}],
        [{"node": "Supabase - Get Weekly Tickets", "type": "main", "index": 0}]
      ]
    },
    "OmniDesk - Get Messages": {
      "main": [
        [{"node": "Extract First Message", "type": "main", "index": 0}]
      ]
    },
    "Extract First Message": {
      "main": [
        [{"node": "Wait (Rate Limit)", "type": "main", "index": 0}]
      ]
    },
    "Wait (Rate Limit)": {
      "main": [
        [{"node": "Supabase - Upsert Tickets", "type": "main", "index": 0}]
      ]
    },
    "Supabase - Upsert Tickets": {
      "main": [
        [{"node": "Loop Through Tickets", "type": "main", "index": 0}]
      ]
    },
    "Supabase - Get Weekly Tickets": {
      "main": [
        [{"node": "Prepare AI Input", "type": "main", "index": 0}]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [{"node": "Build AI Prompt", "type": "main", "index": 0}]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [{"node": "OpenAI - Analyze Tickets", "type": "main", "index": 0}]
      ]
    },
    "OpenAI - Analyze Tickets": {
      "main": [
        [{"node": "Parse AI Response", "type": "main", "index": 0}]
      ]
    },
    "Parse AI Response": {
      "main": [
        [{"node": "Format Report", "type": "main", "index": 0}]
      ]
    },
    "Format Report": {
      "main": [
        [{"node": "Telegram - Send Report", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timeout": 3600
  },
  "staticData": null,
  "tags": ["support", "analytics", "weekly-report"],
  "pinData": {},
  "versionId": "1.0.0"
}
