n8n-final-workflow.json
{
  "name": "MetaShip Weekly Ticket Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": ["monday"],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (Mon 9:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 100]
    },
    {
      "parameters": {
        "jsCode": "// Получаем даты за прошлую неделю\nconst now = new Date();\nconst weekAgo = new Date();\nweekAgo.setDate(now.getDate() - 7);\n\nconst formatDate = (d) => d.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    week_start: formatDate(weekAgo),\n    week_end: formatDate(now),\n    cutoff_timestamp: weekAgo.toISOString(),\n    page: 1\n  }\n}];"
      },
      "id": "set-date-range",
      "name": "Set Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://pimpay.omnidesk.ru/api/cases.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "limit", "value": "100"},
            {"name": "page", "value": "={{ $json.page }}"},
            {"name": "sort", "value": "created_at"},
            {"name": "order", "value": "desc"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "User-Agent", "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36"},
            {"name": "Accept", "value": "application/json"}
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "omnidesk-get-cases",
      "name": "OmniDesk - Get Cases List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "OmniDesk API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// OmniDesk возвращает: {\"0\": {\"case\": {...}}, \"1\": {...}}\nconst response = $input.first().json;\nconst prevData = $('Set Date Range').first().json;\nconst cutoffDate = new Date(prevData.cutoff_timestamp);\n\n// Проверяем на Cloudflare/ошибки\nif (typeof response === 'string' || response.error) {\n  throw new Error('API Error: ' + JSON.stringify(response));\n}\n\n// Конвертируем объект с числовыми ключами в массив\nconst keys = Object.keys(response).filter(k => !isNaN(parseInt(k)));\nconst tickets = [];\n\nfor (const key of keys) {\n  const caseData = response[key].case || response[key];\n  \n  let createdAt;\n  try {\n    createdAt = new Date(caseData.created_at);\n  } catch (e) {\n    continue;\n  }\n  \n  // Фильтруем по дате (только за последние 7 дней)\n  if (createdAt >= cutoffDate) {\n    tickets.push({\n      ticket_id: caseData.case_id,\n      created_at: caseData.created_at,\n      closed_at: caseData.closed_at !== '-' ? caseData.closed_at : null,\n      status: caseData.status,\n      priority: caseData.priority,\n      channel: caseData.channel,\n      subject: caseData.subject,\n      labels: caseData.labels || [],\n      closing_speed: caseData.closing_speed !== '-' ? parseInt(caseData.closing_speed) : null\n    });\n  }\n}\n\nconsole.log(`Found ${tickets.length} tickets from last 7 days`);\n\n// Возвращаем каждый тикет как отдельный item\nreturn tickets.map(ticket => ({ json: ticket }));"
      },
      "id": "parse-cases-response",
      "name": "Parse Cases Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 200]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-tickets",
      "name": "Loop Through Tickets",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://pimpay.omnidesk.ru/api/cases/{{ $json.ticket_id }}/messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "User-Agent", "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36"},
            {"name": "Accept", "value": "application/json"}
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "omnidesk-get-messages",
      "name": "OmniDesk - Get Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "OmniDesk API"
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ticket = $('Loop Through Tickets').first().json;\nconst resp = $input.first().json;\n\n// Handle access error\nif (resp?.error === 'staff_has_not_access' || resp?.statusCode === 403) {\n  return [{\n    json: {\n      ticket_id: parseInt(ticket.ticket_id),\n      created_at: parseDate(ticket.created_at),\n      closed_at: parseDate(ticket.closed_at),\n      status: ticket.status || null,\n      priority: ticket.priority || null,\n      channel: ticket.channel || null,\n      subject: ticket.subject || null,\n      first_message_text: null,\n      labels: (ticket.labels && ticket.labels.length > 0) ? ticket.labels : null,\n      closing_speed: ticket.closing_speed ? parseInt(ticket.closing_speed) : null\n    }\n  }];\n}\n\n// Parse dates to ISO format\nfunction parseDate(dateStr) {\n  if (!dateStr || dateStr === '-') return null;\n  try {\n    return new Date(dateStr).toISOString();\n  } catch {\n    return null;\n  }\n}\n\n// OmniDesk returns numeric keys: {\"0\": {\"message\": {...}}, ...}\nconst numericKeys = Object.keys(resp || {}).filter(k => !isNaN(parseInt(k, 10)));\nconst raw = numericKeys\n  .map(k => resp[k]?.message || resp[k])\n  .filter(Boolean);\n\n// Select first CUSTOMER message, fallback to first message overall\nconst sortByCreated = (a, b) => new Date(a.created_at) - new Date(b.created_at);\n\nconst customer = raw\n  .filter(m => Number(m.staff_id ?? 0) === 0 && Boolean(m.note) === false)\n  .sort(sortByCreated);\n\nlet first = customer[0];\n\nif (!first) {\n  raw.sort(sortByCreated);\n  first = raw[0] || null;\n}\n\nlet text = first ? (first.content || first.content_html || null) : null;\n\n// Cleanup HTML\nfunction stripHtml(s) {\n  if (!s) return null;\n  return String(s)\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 5000);\n}\n\n// Return ONLY fields that exist in Supabase table\nreturn [{\n  json: {\n    ticket_id: parseInt(ticket.ticket_id),\n    created_at: parseDate(ticket.created_at),\n    closed_at: parseDate(ticket.closed_at),\n    status: ticket.status || null,\n    priority: ticket.priority || null,\n    channel: ticket.channel || null,\n    subject: ticket.subject || null,\n    first_message_text: stripHtml(text),\n    labels: (ticket.labels && ticket.labels.length > 0) ? ticket.labels : null,\n    closing_speed: ticket.closing_speed ? parseInt(ticket.closing_speed) : null\n  }\n}];"
      },
      "id": "extract-first-message",
      "name": "Extract First Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "amount": 300,
        "unit": "milliseconds"
      },
      "id": "wait-rate-limit",
      "name": "Wait 300ms (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1750, 200]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "support_tickets",
        "conflictType": "columnValue",
        "columnToMatchOn": "ticket_id",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {"fieldName": "ticket_id", "fieldValue": "={{ $json.ticket_id }}"},
            {"fieldName": "created_at", "fieldValue": "={{ $json.created_at }}"},
            {"fieldName": "closed_at", "fieldValue": "={{ $json.closed_at }}"},
            {"fieldName": "status", "fieldValue": "={{ $json.status }}"},
            {"fieldName": "priority", "fieldValue": "={{ $json.priority }}"},
            {"fieldName": "channel", "fieldValue": "={{ $json.channel }}"},
            {"fieldName": "subject", "fieldValue": "={{ $json.subject }}"},
            {"fieldName": "first_message_text", "fieldValue": "={{ $json.first_message_text }}"},
            {"fieldName": "labels", "fieldValue": "={{ $json.labels }}"},
            {"fieldName": "closing_speed", "fieldValue": "={{ $json.closing_speed }}"}
          ]
        }
      },
      "id": "supabase-upsert",
      "name": "Supabase - Upsert Ticket",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 200],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Supabase MetaShip"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "support_tickets",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=created_at.gte.{{ $now.minus({days: 7}).toISO() }}"
      },
      "id": "supabase-get-weekly",
      "name": "Supabase - Get Weekly Tickets",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2500, 200],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Supabase MetaShip"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tickets = $input.all().map(item => item.json);\n\nconst now = new Date();\nconst weekAgo = new Date();\nweekAgo.setDate(now.getDate() - 7);\n\nconst inputData = {\n  week_start_date: weekAgo.toISOString().split('T')[0],\n  week_end_date: now.toISOString().split('T')[0],\n  tickets: tickets.map(t => ({\n    ticket_id: String(t.ticket_id),\n    created_at: t.created_at,\n    closed_at: t.closed_at,\n    status: t.status,\n    priority: t.priority,\n    channel: t.channel,\n    subject: t.subject,\n    first_message_text: t.first_message_text,\n    labels: t.labels,\n    closing_speed: t.closing_speed\n  }))\n};\n\nreturn [{\n  json: {\n    ticketCount: tickets.length,\n    inputJson: JSON.stringify(inputData)\n  }\n}];"
      },
      "id": "prepare-ai-input",
      "name": "Prepare AI Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2750, 200]
    },
    {
      "parameters": {
        "jsCode": "const inputJson = $input.first().json.inputJson;\n\nconst systemPrompt = `You are \"Weekly Support Insights Analyst\" for MetaShip.\n\nAnalyze the provided support tickets and produce a JSON report with:\n1) Executive summary (one_liner + key_stats + top_issues)\n2) Top 3 risks with evidence ticket_ids\n3) Issue clusters by problem types\n4) Top clients by ticket volume\n5) Product and ops recommendations\n\nHARD RULES:\n1) No hallucinations. Only use data from input.\n2) Every risk/insight MUST cite at least 3 ticket_ids for medium+ severity.\n3) Redact PII (phone/email) as \"[REDACTED]\".\n4) Output ONLY valid JSON, no markdown code blocks.\n5) Set all delta fields to \"insufficient_data\".\n\nCLUSTER KEYS:\n- delivery_point_not_found\n- order_creation_validation_errors  \n- api_integration_questions\n- status_sync_issues\n- bitrix_module_issues\n- tariff_calculation_errors\n\nSEVERITY: critical > high > medium > low\n\nOUTPUT JSON SCHEMA:\n{\n  \"report_metadata\": {\"week_start_date\": \"\", \"week_end_date\": \"\", \"total_tickets_analyzed\": 0},\n  \"executive_summary\": {\n    \"one_liner\": \"\",\n    \"key_stats\": {\"total_tickets\": 0, \"closed_tickets\": 0, \"open_tickets\": 0},\n    \"top_issues\": []\n  },\n  \"top_3_risks\": [{\n    \"title\": \"\",\n    \"severity\": \"high\",\n    \"confidence\": 0.8,\n    \"evidence_ticket_ids\": [],\n    \"delta_vs_last_week\": \"insufficient_data\"\n  }],\n  \"insights\": [{\n    \"metric_key\": \"\",\n    \"title\": \"\",\n    \"ticket_count\": 0,\n    \"severity\": \"medium\",\n    \"evidence_ticket_ids\": []\n  }],\n  \"top_clients_analysis\": {\n    \"clients\": [{\"client_name\": \"\", \"ticket_count\": 0}]\n  },\n  \"limitations\": [\"No historical data for trends\"]\n}\n\nRespond with ONLY the JSON.`;\n\nreturn [{\n  json: {\n    systemPrompt: systemPrompt,\n    userMessage: 'Analyze these support tickets:\\n\\n' + inputJson\n  }\n}];"
      },
      "id": "build-ai-prompt",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 200]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.systemPrompt }}"
            },
            {
              "role": "user",
              "content": "={{ $json.userMessage }}"
            }
          ]
        },
        "options": {
          "maxTokens": 8000,
          "temperature": 0.2
        }
      },
      "id": "openai-analysis",
      "name": "OpenAI - Analyze Tickets",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [3250, 200],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nlet content = response.message?.content || response.choices?.[0]?.message?.content || '';\n\nlet report;\ntry {\n  // Remove markdown code blocks if present\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  report = JSON.parse(content);\n} catch (e) {\n  return [{\n    json: {\n      error: 'Failed to parse AI response: ' + e.message,\n      raw_content: content.substring(0, 1000)\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    report: report,\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3500, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (data.error) {\n  return [{\n    json: {\n      telegram_message: `❌ *Error generating report*\\n\\n${data.error}\\n\\nRaw: ${data.raw_content?.substring(0, 200) || 'N/A'}`,\n      has_error: true\n    }\n  }];\n}\n\nconst report = data.report;\nconst meta = report.report_metadata || {};\nconst summary = report.executive_summary || {};\nconst risks = report.top_3_risks || [];\nconst clients = report.top_clients_analysis?.clients || [];\n\nlet message = `📊 *Weekly Support Report*\n📅 ${meta.week_start_date || 'N/A'} — ${meta.week_end_date || 'N/A'}\n\n💡 *Summary:* ${summary.one_liner || 'N/A'}\n\n📈 *Key Stats:*\n• Total tickets: ${summary.key_stats?.total_tickets || meta.total_tickets_analyzed || 'N/A'}\n• Closed: ${summary.key_stats?.closed_tickets || 'N/A'}\n• Open: ${summary.key_stats?.open_tickets || 'N/A'}\n\n🚨 *Top 3 Risks:*\n`;\n\nrisks.forEach((risk, i) => {\n  const emoji = risk.severity === 'critical' ? '🔴' : risk.severity === 'high' ? '🟠' : '🟡';\n  message += `${i+1}. ${emoji} *${risk.title}* (${risk.severity})\\n`;\n});\n\nif (clients.length > 0) {\n  message += `\\n👥 *Top Clients:*\\n`;\n  clients.slice(0, 5).forEach((c, i) => {\n    message += `${i+1}. ${c.client_name}: ${c.ticket_count} tickets\\n`;\n  });\n}\n\nif (summary.top_issues && summary.top_issues.length > 0) {\n  message += `\\n📋 *Top Issues:*\\n`;\n  summary.top_issues.slice(0, 5).forEach((issue) => {\n    message += `• ${issue}\\n`;\n  });\n}\n\nmessage += `\\n_Generated: ${data.generated_at}_`;\n\nreturn [{\n  json: {\n    telegram_message: message,\n    full_report: report,\n    has_error: false\n  }\n}];"
      },
      "id": "format-report",
      "name": "Format Report for Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3750, 200]
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_YOUR_CHAT_ID",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Telegram - Send Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [4000, 200],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (Mon 9:00)": {
      "main": [[{"node": "Set Date Range", "type": "main", "index": 0}]]
    },
    "Manual Trigger": {
      "main": [[{"node": "Set Date Range", "type": "main", "index": 0}]]
    },
    "Set Date Range": {
      "main": [[{"node": "OmniDesk - Get Cases List", "type": "main", "index": 0}]]
    },
    "OmniDesk - Get Cases List": {
      "main": [[{"node": "Parse Cases Response", "type": "main", "index": 0}]]
    },
    "Parse Cases Response": {
      "main": [[{"node": "Loop Through Tickets", "type": "main", "index": 0}]]
    },
    "Loop Through Tickets": {
      "main": [
        [{"node": "OmniDesk - Get Messages", "type": "main", "index": 0}],
        [{"node": "Supabase - Get Weekly Tickets", "type": "main", "index": 0}]
      ]
    },
    "OmniDesk - Get Messages": {
      "main": [[{"node": "Extract First Message", "type": "main", "index": 0}]]
    },
    "Extract First Message": {
      "main": [[{"node": "Wait 300ms (Rate Limit)", "type": "main", "index": 0}]]
    },
    "Wait 300ms (Rate Limit)": {
      "main": [[{"node": "Supabase - Upsert Ticket", "type": "main", "index": 0}]]
    },
    "Supabase - Upsert Ticket": {
      "main": [[{"node": "Loop Through Tickets", "type": "main", "index": 0}]]
    },
    "Supabase - Get Weekly Tickets": {
      "main": [[{"node": "Prepare AI Input", "type": "main", "index": 0}]]
    },
    "Prepare AI Input": {
      "main": [[{"node": "Build AI Prompt", "type": "main", "index": 0}]]
    },
    "Build AI Prompt": {
      "main": [[{"node": "OpenAI - Analyze Tickets", "type": "main", "index": 0}]]
    },
    "OpenAI - Analyze Tickets": {
      "main": [[{"node": "Parse AI Response", "type": "main", "index": 0}]]
    },
    "Parse AI Response": {
      "main": [[{"node": "Format Report for Telegram", "type": "main", "index": 0}]]
    },
    "Format Report for Telegram": {
      "main": [[{"node": "Telegram - Send Report", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timeout": 3600
  },
  "staticData": null,
  "tags": ["support", "analytics", "weekly-report", "metaship"],
  "triggerCount": 2
}
